$bodyBgColor:  rgb(55, 55, 61);
$startBtnHoverBgColor:   rgb(43, 43, 46);
$pureWhiteColor: white;
$boxShadowColor: 1px 1px 10px 4px rgb(167, 188, 244);
$pureRed: red;
$pureBlack: black;
$inputBorder: rgb(175, 175, 179);
$blueText: #4e73df;
$lightText: rgb(135, 135, 138);
$inputOutline: 3px solid rgb(210, 206, 206);

@font-face {
    font-family: nunitoSemiBold;
    src: url(./../../fonts/NunitoSans-SemiBold.ttf);
  }


*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    // border: 1px solid rgb(192, 28, 28);
    box-sizing: border-box;
    // background-color: rgb(55, 0, 255);

    hr{
        height: 20px;
        width: 20px;
        color: red;
    }
   

     main {
        
        .wrapper{
            // background-color: #4e73df;
            background-color: #0d6efd;
            width: 17%;
            height: 100%;


            .section-1{
                text-align: center;
               
               
                
                

                .logo-div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid black;
    
                    .logo{
                        height: 5%;
                        width: 3%;
                        // border: 1px solid black;
        
                    }
        
                    .h1{
                        font-family: nunitoSemiBold;
                        font-size: 120%;        
                    }

                   
                    
                }
                .side-bar-divider{
                    width: 80%;
                    height: 0%;
                    // margin-left: 10%;
                    // border-top: 1px solid rgb(191, 44, 44);
                    // margin-bottom: 4%;
                    border: 1px solid black;
                    margin: 0 auto;

                }

                ul{
                    
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        // text-align: center;
                        

                        .home {
                            height: 2%;
                            width: 1.6%; 
                            margin-right: 1%;
                            color: white;
                        }

                        .side-bar-divider{
                            width: 80%;
                            height: 0%;
                            // margin-left: 10%;
                            // border-top: 1px solid rgb(191, 44, 44);
                            // margin-bottom: 4%;
                            border: 1px solid black;
                            margin: 0 auto;
        
                        }

                        .cart {
                            height: 1.5%;
                            width: 1.5%; 
                            margin-right: 1%;
                            

                            
                            
                        }
                        .great1 {
                            height: 10px;
                            width: 10px;
                            margin-left: 6.4%;
                        }

                        .great2 {
                            height: 10px;
                            width: 10px;
                            margin-left: 5%;
                        }

                        .gift {
                            height: 1.5%;
                            width: 1.5%; 
                            margin-right: 1%;
                        }

                        

                        .dollar {
                            height: 1.5%;
                            width: 1.5%; 
                            margin-right: 1%;
                        }

                        .transaction {
                            height: 1.5%;
                            width: 1.5%; 
                            margin-right: 1%;
                        }

                        .clock {
                            height: 1.5%;
                            width: 1.5%; 
                            margin-right: 1%;
                        }

                       


                    }
                    .finance {
                        font-size: 100%;
                        // color: white;
                        text-align: start;

                    }
                }
                
            }

        }
       



     }
}
